.multiSelectInput{
    border : none;
    outline: none;
    display: flex;
    flex: 1;
    font-size: 1.5rem;
    padding-left: .3rem;
}

.multiSelectContainer{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.multiSelectOptionHolder{
    max-height: 30rem;
    overflow-y: auto;
    border-radius: 1rem;
    tab-index: 2;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: .5rem;
    border: .1rem solid #94a3b8;
    z-index: 9999;
}
.singleOptionWrapper{
    display: flex;
    flex-direction: row;
    border-bottom: .1rem solid #94a3b8;
    padding:.5rem;
    align-items: center;
}
.singleOptionWrapper:last-child{
    border-bottom: none;
}
.singleOptionWrapper:focus{
    background-color: #b9e4ff;
}
.singleOptionWrapper:hover{
    background-color: #b9e4ff;
}
.optionImage{
    width: 3rem;
    height: 3rem;
    border-radius: .3rem;
    margin-left: .3rem;
}
.optionTextWrapper{
    margin-left: 1rem;
}

.optionNameText{
    color: #475569;
}
.optionEpisodesText{
    font-size: .7rem;
    color: #94a3b8;
}

.multiSelectHolder{
    display: flex;
    border: .1rem solid #94a3b8;
    border-radius: 1rem;
    flex: 1;
    flex-direction: row;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: .5rem .5rem;
    align-items: center;
}

.multiSelectInfo{
    text-align: center;
    padding: 1rem;
}

.loaderWrapper{
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
align-items: center;
    justify-content: center;
}

.loader{
    width: 2rem;
    height: 2rem;
}

.selectedBadgeWrapper{
    display: flex;
    flex-direction: row;
    color:#334155;
}

.selectedBadge{
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: #e2e8f0;
    padding: .2rem .5rem;
    border-radius: .5rem;
    margin-left: .3rem;
}
.selectedBadge:first-child{
    margin-left: 0;
}

.selectedBadgeClose{
    cursor: pointer;
    border-radius: .4rem;
    margin-left: .3rem;
    text-align: center;
    font-size: .9rem;
    background-color: #94a3b8;
    color: white;
    padding: .2rem .5rem;
}
